body {
    color: rgb(228,242,226);
    font-size: 20px;
    background-image: url(https://i.pinimg.com/originals/76/a6/c6/76a6c6515947b290b00bc2efd3f00833.png);
    background-repeat: no-repeat;
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

#bcsLogo{
    margin-top: auto;
    width: 50%;
    border-radius: 0;
}

#nickname{
    margin-top: -20px;
    color: gray;
    margin-bottom: 12%;
}

.header{
    text-align: center;
    margin: 6vh;
    text-decoration: underline;
}

img{
    
    width: 28vh;
    /* height: 200px; */
    border-radius: 16px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.name{
    margin-top: 10%;
    font-size: 24px;
    font-weight: 700;
}

.single{
    background-color: #010803;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    margin: 8%;
    padding: 4vh;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  }

.bg-dark{
    background-color: #010803 !important;
}

#navbarNav{
    justify-content: flex-end;
}

form{
    text-align: center;
}

input{
    width: 50!important;
}

p {
    text-align: center;
    font-size: 16px;
}

.form-control{
    display: inline;
    width: 50%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width: 2037px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

@media (max-width: 1507px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 792px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  body::-webkit-scrollbar {
    display: none;
}

span{
    font-weight: 700;
  }

#occupation{
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 200;
}

#occ{
    margin-top: -20px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12%;
}


#button {
    display: inline-block;
    background-color: #328c14;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .topIcon {
    width: inherit;
  }
  
  .alignRight {
    text-align: end;
  }
  